<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dossierLayout}">
<head>
    <meta charset="UTF-8">
    <title>Dossier Medicale</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbpCdJSJFxfLfL7lrcAqc9wAxBQr2gXjJnew+VY9EXRQa+yzU/a0+I9g8" crossorigin="anonymous">
</head>
<body>
<div class="tab-content" id="myTabContent" layout:fragment="contentI">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" layout:fragment="content1">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Consultations</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPatientModal">
                Create
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type de consultation</th>
                <th scope="col">Date de consultation</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${consultationList.isEmpty()}">
                <td colspan="4">Pas de consultation</td>
            </tr>
            <tr th:each="consultation : ${consultationList}">
                <td><a th:href="@{/dossier/actes/{id}(id=${consultation.id})}" th:text="${consultation.id}"></a></td>
                <td><span th:text="${consultation.typeConsultation}"></span></td>
                <td><span th:text="${consultation.dateConsultation}"></span></td>
                <td>
                    <!-- Delete action link -->
                    <a th:href="@{/deletConsu/{idPatient}/{idCons}/(idPatient=${consultation.dossierMedicale.patient.id}, idCons=${consultation.id})}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" id="createPatientModal" tabindex="-1" aria-labelledby="createPatientModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPatientModalLabel">Create Consultation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Patient Form -->
                        <form role="form" method="post" th:action="@{/createConsultation/{id}(id=${dossierMedicale.id})}" th:object="${consult}">
                            <div class="mb-3">
                                <label for="typeConsultation" class="form-label">Type de consultation</label>
                                <select class="form-select" id="typeConsultation" th:field="*{typeConsultation}" required>
                                    <option th:each="type : ${typesConsultation}"
                                            th:value="${type}"
                                            th:text="${type}">
                                    </option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" >
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Facture</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createFacture">
                Create
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Consultation Id</th>
                <th scope="col">Date Facture</th>
                <th scope="col">Etat</th>
                <th scope="col">Montant Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${factures.isEmpty()}">
                <td colspan="5">Pas de Facture</td>
            </tr>
            <tr th:each="facture : ${factures}">
                <td><span th:text="${facture.consultationId}"></span></td>
                <td><span th:text="${facture.dateFacture}"></span></td>
                <td><span th:text="${facture.etat}"></span></td>
                <td><span th:text="${facture.montantTotale}"></span></td>
                <td>
                    <!-- Actions like edit, delete can go here -->
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>